<div class="education">
	<h2 id="education">Education</h2>

	<h3>BSc Computer Science with Industrial Experience, 1st class<span>2011-2015</span></h3>

	<h4>University of Manchester</h4>

	<p><strong>Final project - Test-Only Development:</strong> I explored the idea of automating the coding step of the red-green-refactor cycle. I created a tool which when given a failing test, amended simple code such that the test would then pass. Although my tool only dealt with basic cases, my conclusion was that given more time and research it would be possible to develop a more extensive version of the tool which could then lead towards automating other stages of the red-green-refactor cycle. The tool would also be valuable in demonstrating how simple the coding step should be when teaching test-driven development, which I tested
	out on a small sample of my peers.</p>

</div>