<h2 id="experience">Experience</h2>

<p class="extra-margin">
	<strong>Human Software</strong> <em>January 2016 - present</em>
</p>

<p>Human are a small software development consultancy focusing on digital transformation and automation. During my time here I have grown from Junior to Senior Software Engineer, but my role has been far broader than my job titles suggest due to the small size of the company (11 people). My highly flexible abilities and enthusiastic approach to new responsibilities has been instrumental in continually improving our strategies and processes as the company has moulded itself to fit an everchanging environment.</p>

<p><strong>Developer and Engineer</strong> - From command line scripts and lightweight frontend apps, to REST APIs and monolithic applications, I work on legacy projects with varying qualities of documentation and code, and am involved in new projects from scoping and estimating right through to dispatch or shut down. I spend months sprinting on a single project and also switch between multiple projects on the same day in order to deliver small incremental improvements as part of our ongoing development service.</p>

<p><strong>Technical Lead</strong> - I have successfully taken this role on several projects, with my first unofficial opportunity being when a colleague unexpectedly took early parental leave while I was still in a junior position. I am responsible for planning and creating technical architecture, encouraging best practices, and leading the team in self-organisation whilst listening to others' expertise and concerns.</p>

<p><strong>DevOps Lead</strong> - After a restructuring and the departure of multiple senior colleagues, one of the multiple responsibilities I took on was management of the company's hosting and architecture set ups. This included traditional server hosting and AWS virtual infrastructure. I have managed domains and DNS records, set up new hosting and transferred hosting from one provider to another, and dealt with downtime and emergency problems. I have attended two AWS conferences and am intending this year to become AWS-certified.</p>

<p><strong>Head of Evolution</strong> - Another responsibility I took on was managing our ongoing development service. I gained a lot of experience of communicating directly with clients, and context switching to deal with lots of small issues at once in comparison to one long term project at a time.</p>

<p><strong>Recruitment and Mentoring</strong> - I shortlisted and interviewed candidates for Junior Developer roles, carried out technical onboarding, and acted as a mentor-tutor as they started their first project.</p>

<p class="extra-margin">
	<strong>HAVAS LYNX</strong>
</p>

<p class="extra-margin">
	<strong>Software Development Placement Student</strong> <em>June 2013 - July 2014</em>
</p>

<p>My placement year was invaluable experience of working in an Agile full-stack software team. For the first 6 months I worked on the frontend learning the basics of HTML, JavaScript, CSS, and JQuery. For the remainder of my placement I moved onto the server side using C# and frameworks such as Nancy and Durandal to write API endpoints, services to manipulate data, and queries to a Mongo database.

<p class="extra-margin">
	<strong>Junior Frontend Developer</strong> <em>August 2015 - January 2016</em>
</p>

<p>When I returned after completing my degree, I was moved to work as a frontend developer. While not the role I was expecting, I was nevertheless able to integrate myself into the team working to short deadlines under pressure. I worked on a wide variety of projects and learnt very quickly about Wordpress, PHP, and media queries.</p>