<div class="experience">
	
	<h2 id="experience">Experience</h2>

	<h3>iVendi</h3>

	<h4>Software Engineer<span>March 2019 - August 2020</span></h4>

	<p>At iVendi I have enhanced my experience in C# .Net, learnt about event-driven and event-sourced architecture, and gained experience in deployments using Rancher and Kubernetes via TeamCity. I have been part of a team monitoring alerts and dealing with emergencies out of hours.</p>

	<h3>Human Software<span>January 2016 - February 2019</span></h3>

	<p>During my time at Human I grew from Junior to Senior Software Engineer, but due to the small size of the company my role was far broader than my job titles suggest. My highly flexible abilities and enthusiastic approach to new responsibilities was instrumental in continually improving our strategies and processes
	as the company moulded itself to fit an ever-changing environment.</p>

	<h4>Developer and Engineer</h4>

	<p>From command line scripts and lightweight frontend apps, to REST APIs and monolithic applications, I worked on both legacy projects with varying qualities of documentation and code and was involved in new projects from scoping and estimating right through to dispatch or shutdown. I spent months sprinting on single projects and also switched between projects on the same day in order to deliver small incremental improvements as part of our ongoing development service.</p>

	<h4>Technical Lead</h4>

	<p>I successfully took on this role for several projects, with my first unofficial opportunity being when a colleague took early parental leave while I was still in a junior position. I was responsible for planning and creating technical architecture, encouraging best practices, and leading the team in self-organisation whilst listening to others&apos; expertise and concerns.</p>

	<h4>DevOps</h4>

	<p>After a restructuring and the departure of multiple senior colleagues, one of multiple responsibilities I took on was management of the company&apos;s hosting and architecture set ups. This included both traditional server hosting and AWS virtual infrastructure. I managed domains and DNS records, set up new hosting and transferred hosting from one provider to another, and dealt with downtime and emergency problems.</p>

	<h4>Head of Evolution</h4>

	<p>Another responsibility I took on was managing our ongoing development service. I gained a lot of experience of communicating directly with clients, and context switching to deal with lots of small issues at once in comparison to one long term project at a time.</p>

	<h4>Recruitment and Mentoring</h4>

	<p>I shortlisted and interviewed candidates for Junior Developer roles, carried out technical onboarding, and acted as a mentor/tutor as they started their first project.</p>

	<h3>HAVAS LYNX</h3>

	<h4>Software Development Placement Student<span>June 2013 - July 2014</span></h4>

	<p>My placement year was invaluable experience of working in an Agile full-stack software team. For the first half I worked on the frontend learning the basics of HTML, JavaScript, CSS, and JQuery. For the remainder of my placement I moved onto the server side using C&num; and frameworks such as Nancy and Durandal to write API endpoints, services to manipulate data, and queries to a Mongo database.</p>

	<h4>Junior Frontend Developer<span>August 2015 - January 2016</span></h4>

	<p>When I returned after completing my degree, I was moved to work as a frontend developer. Whilst not the role I was expecting, I was nevertheless able to integrate myself into the team working to short deadlines under pressure. I worked on a wide variety of projects and learnt very quickly about Wordpress, PHP, and CSS media queries.</p>
</div>