<h2 id="interests">Interests</h2>

<p>I was invited to help the university's Astrophysics Postgraduate department build an innovative VR program to show visitors to the BlueDot festival the Universe at different wavelengths.</p>

<p>I have also participated in several hacknights where in teams of 3-4 we were given 3 hours to use machine learning algorithms from kNN to neural networks to extract insight from a dataset such as predicting hurricanes from US coastal weather data.</p>

<p>At university I successfully put myself forward  to be the Chair of the Science Fiction and Fantasy Society, which involved organising and promoting the society leading to a huge increase in membership that year.</p>

<p>I have a regular fitness schedule including the gym several times a week and intensive Personal Training sessions.</p>

<p>To relax at home I enjoy playing strategic computer games, watching educational science and technology videos, and reading science fiction and fantasy books.</p>