<div class="skills">
	
	<h2 id="skills">Skills and Knowledge</h2>

	<ul>
		<li>C&num; .NET (console, api, and library applications), EventStore, RabbitMQ, Mongo, Redis, and deployments with Rancher and Kubernetes</li>
		<li>PHP, Yii 1&amp;2 frameworks, SQL (MySQL) and database management, React, Angular, vanilla JavaScript and JQuery, Node, HTML, CSS, Sass, some experience with Java, Python, and C</li>
		<li>AWS management: VPC, elastic beanstalk, RDS, EC2, S3, permissions, roles, credentials, and AWS CLI</li>
		<li>Agile and Scrum: sprints, kanban, daily stand-ups, retrospectives, incremental improvements, self-organising teams</li>
		<li>SQL, MySQL, and database management</li>
		<li>Design patterns, software principles (incl. SOLID), REST, CQRS, DDD</li>
		<li>Git in a team, GitLab, Youtrack, and Jira for issue tracking, forming traceable history and documentation, CLI for Git and package managers</li>
		<li>Testing, TDD, automated testing, and continuous delivery pipelines using TeamCity, Gitlab pipelines, and manual scripting</li>
	</ul>
</div>