<h2 id="skills">Skills and Knowledge</h2>

<ul>
	<li>AWS management: VPC, elastic beanstalk, RDS, EC2, S3 buckets, permissions, roles, credentials, and AWS CLI
	<li>Agile and Scrum: sprints, kanban, daily stand-ups, retrospectives, incremental improvements, self-organising teams
	<li>Domain and DNS management, WHM and CPanel, networks
	<li>Design patterns, best practices, and software principles
	<li>SQL, MySQL, and database management
	<li>Git in a team, GitLab for issue tracking, forming traceable history and documentation, CLI for Git and package managers
	<li>PHP, Yii 1&amp;2 frameworks, React, Angular, vanilla JavaScript and JQuery, Node, HTML, CSS, Sass, C#, some experience with Python, C, and Java
	<li>Testing, TDD, automated testing, and continuous delivery pipelines
	<li>Use of password managers, team task management tools, and workflow software</li>
</ul>